/*
* ng-cloak css
*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.table-heading {
    float: left;
}

.table-icon {
    float: right;
}

.com-logo {
    height: 80px;
}

.com-admin-logo {
    height: 20px;
    margin-bottom: 20px;
}

.default-margin {
    margin-top: 20px;
}

.default-align {
    text-align: center;
}
/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        
        background-color: #464646;
    }
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -20px;
    /* 20px padding */
    
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: #707070;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #707070;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.ch-color {
    background-color: red;
}

.main-header {
    margin: 0;
}