<!DOCTYPE html>
<html data-ng-app="myApp">

<head>
    <title>Walmart Labs Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/newcss.css" />
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!--sidebar navigation starts-->
            <div class="col-sm-3 col-md-2 sidebar">
                <!--                sidebar navigation image-->
                <div>
                    <img src="images/com-admin.png" alt="Admin Logo" class="com-admin-logo">
                </div>
                <!--                sidebar navigation links-->
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Records <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#">Permissions</a>
                    </li>
                    <li><a href="#">Analytics</a>
                    </li>
                    <li><a href="#">Export</a>
                    </li>
                </ul>
            </div>
            <!--sidebar navigation ends-->

            <!--main content-->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!--angularjs initialized-->
                <div>

                    <!--main content logo-->
                    <div class="default-margin">
                        <img src="images/com.png" alt="Company Logo" class="com-logo">
                    </div>
                    <!--main content search-->
                    <div class="default-margin">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <h2 class="main-header">Current Records</h2>
                                </div>
                                <div class="form-group col-sm-3 col-md-3">
                                    <label class="sr-only">Search record</label>
                                    <input type="text" class="form-control" size="26" placeholder="Search record" ng-model="search">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div data-ng-view></div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/AngularRoute.js"></script>
    <script src="app/app.js"></script>
    <script src="app/dashboard/dashboardcontroller.js"></script>
    <script src="app/address/addresscontroller.js"></script>
</body>

</html>