<table class="table table-hover table-bordered default-margin">
    <thead>
        <th>
            <div class="table-heading">
                Name
            </div>
        </th>
        <th>
            <div class="table-heading">
                Phone
            </div>
        </th>
        <th>
            <div class="table-heading">
                Country
            </div>
        </th>
    </thead>
    <tbody ng-cloak class="ng-cloak">
        <tr ng-repeat="x in empData|filter:search|orderBy:sort">
            <td>{{x.name}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.country}}</td>
        </tr>
    </tbody>
</table>
<h3><a href="#/">Click to go back</a></h3>