<table class="table table-hover table-bordered default-margin">
    <thead>
        <th>
            <div class="table-heading">
                Name
            </div>
        </th>
        <th>
            <div class="table-heading">
                Age
            </div>
        </th>
        <th>
            <div class="table-heading">
                Salary
            </div>
        </th>
        <th>
            <div class="table-heading">
                Sex
            </div>
        </th>
    </thead>
    <tbody ng-cloak class="ng-cloak">
        <tr ng-repeat="x in empData|filter:search|orderBy:sort">
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
            <td>{{x.salary}}</td>
            <td>{{x.sex}}</td>
        </tr>
    </tbody>
</table>
<h3><a href="#/addressview">Click to view address details</a></h3>